<div class="container">
  <div class=" row devise justify-content-center">
    <div class="col-12 title">
      <h2>ログイン情報変更</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="error-msg">
            <%= render "devise/shared/error_messages", resource: resource %>
          </div>
        <div class="field row">
          <div class="offset-1 col-md-3 user-label"><%= f.label :name, "ユーザー名" %></div>
          <%= f.text_field :name, autofocus: true, size:40, placeholder: " 2文字以上10文字以下" %>
        </div>

        <div class="field row">
          <div class="offset-1 col-md-3 user-label"><%= f.label :email,"メールアドレス" %></div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , size:40, class: "form-field" %>
        </div>

        <div class="field row">
          <div class="offset-1 col-md-3 user-label"><%= f.label :password,"パスワード" %></div>
          <%= f.password_field :password, autocomplete: "new-password", size:40, placeholder: "（英数字6文字以上12文字以下）" %>
        </div>

        <div class="field row">
          <div class="offset-1 col-md-3 user-label"><%= f.label :password_confirmation,"パスワード確認" %></div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", size:40 %>
        </div>

        <div class="actions row justify-content-center">
          <%= f.submit "変更内容を保存する", class: "btn btn-info btn-space" %>
          <%= link_to "Back", :back, class: "btn btn-space btn-outline-info" %>
        </div>
    <% end %>

  </div>
</div>