<div class="container">
  <div class=" row devise justify-content-center">
    <div class="col-12 title">
      <h1>新規登録</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="error-msg">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
        <div class="field row justify-content-center">
          <div class="col-md-3 user-label"><%= f.label :name, "ユーザー名" %></div>
          <%= f.text_field :name, autofocus: true, size:40, placeholder: " 2文字以上10文字以下" %>
        </div>

        <div class="field row justify-content-center">
          <div class="col-md-3 user-label"><%= f.label :email,"メールアドレス" %></div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , size:40, class: "form-field" %>
        </div>

        <div class="field row justify-content-center">
          <div class="col-md-3 user-label"><%= f.label :password,"パスワード" %></div>
          <%= f.password_field :password, autocomplete: "new-password", size:40, placeholder: "（英数字6文字以上12文字以下）" %>
        </div>

        <div class="field row justify-content-center">
          <div class="col-md-3 user-label"><%= f.label :password_confirmation,"パスワード確認" %></div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", size:40 %>
        </div>

        <div class="actions row">
          <%= f.submit "上記の内容で登録する", class: "col-md-5 btn btn-outline-info btn-position" %>
        </div>
      <% end %>
        <div class="row">
          <%= render "devise/shared/links"%>
        </div>

    </div>
  </div>
</div>