<div class="row">
  <div class="col-12 sub-title">
    <h3>今までに育てた植物</h3>
    <h6>-Plants grown by the user-</h6>
  </div>
</div>
  <div class="row justify-content-around">
      <% plants.each do |plant| %>
        <div class="col-5 user-plant">
          <%= link_to plant_path(plant) do %>
          <div class="user-plant-item">
            <div>
              <%= attachment_image_tag(plant, :image, :fill, 230, 230) %>
            </div>
            <div class="user-plant-text">
              <span id="plant-name"><%= plant.name %></span><br>
              <span id="plant-body"><%= plant.body %></span>
            </div>
            <div class="plant-icon">
              <span class="fas fa-heart"><%= plant.likes.count %></span>
              <span class="far fa-comment-dots"><%= plant.comments.count %></span>
              <span class="fas fa-pen-fancy"><%= plant.trees.count %></span>
            </div>

            <div id="star-<%= plant.id %>"></div>
              <script>
                $("#star-<%= plant.id %>").raty({
                  size  :36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn : "<%= asset_path('star-on.png') %>",
                  readOnly: true,
                  score: <%= plant.difficulty %>,
                 });
              </script>
          </div>
          <% end %>
        </div>
      <% end %>
    <%= link_to "もっと見る>>", user_plants_path(@user), class: "btn btn-outline-success offset-8", id: "btn-plant" %>
  </div>
