<h1>プロフィール編集</h1>
<div class="error_msg">
  <%= render "layouts/error_msg", model: @user %>
</div>
<div>
  <%= form_for(@user) do |f| %>
    <div class="img-prv">
      <%= image_tag "no_image.jpg",size:'300x300',id: "img_prev" %>
      <%= f.attachment_field :image, id: "post_img" %>
      <%= javascript_include_tag 'img-prev' %>
    </div>
    <div>
      <%= f.label :name,"名前" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :like_plant,"好きな植物" %>
      <%= f.text_field :like_plant %>
    </div>
    <div>
      <%= f.label :introduction,"自己紹介" %>
      <%= f.text_area :introduction %>
    </div>
    <div>
      <%= f.submit "編集を保存する", class: "btn" %>
    </div>
  <% end %>
  <%= link_to "ログイン情報を変更する", edit_user_registration_path %>
  <%= link_to "退会する",user_unsubscribe_path(@user) %>
</div>