<div>
  <% if @user.id == current_user.id %>
    <%= render "users/my_page", user: @user %>
  <% else %>
    <%= render "users/user_page",user: @user %>
  <% end %>
</div>
<div>
  <%= render "plants/post_plants", plants: @plants %>
</div>
<%= link_to "もっと見る", user_plants_path(@user) %>
<h2>いいね一覧</h2>
<div>
  <%= render "plants/post_plants", plants: @user_like_plants %>
</div>
<h2>フォロー中ユーザーの投稿</h2>
<div>
  <%= render "plants/followed_user_post", plants: @followed_users_plant %>
</div>
