<div class="container-fluid">
	<div class="row user-page">
	  <div class="col-12 title">
		  <% if @user.id == current_user.id %>
		    <h1>My Page</h1>
		  <% else %>
		    <h1>User Page</h1>
		  <% end %>

	    <div class="row">
	  	  <div class="col-lg-5 user-info">
		    <% if @user.id == current_user.id %>
		      <%= render "users/my_page", user: @user %>
		    <% else %>
		      <%= render "users/user_page",user: @user %>
		    <% end %>
		  </div>
		  <div class="col-lg-6 user-plant-list">
		    <%= render "users/user_post_plant", plants: @plants, user: @user %>
		  </div>
	    </div>

	  </div>
	</div>
	<div class="row">
		<h2>いいね一覧</h2>
		<div>
		  <%= render "plants/post_plants", plants: @user_like_plants %>
		</div>
		<h2>フォロー中ユーザーの投稿</h2>
		<div>
		  <%= render "plants/followed_user_post", plants: @followed_users_plant %>
		</div>
	</div>
</div>