<div>
  <% if @user != current_user %>
    <%= render "users/user_page",user: @user %>
  <% else %>
    <%= render "users/my_page", user: @user %>
  <% end %>
  <%= link_to user_followed_path(@user) do %>
    フォロー中ユーザー：<%= @user.follower.count %>
  <% end %>
  <%= link_to user_follower_path(@user) do %>
    フォロワー：<%= @user.followed.count %>
  <% end %>
</div>
<div>
  <%= render "plants/post_plants", plants: @plants %>
</div>
<%= link_to "もっと見る", user_plants_path(@user) %>