<% plant.trees.each do |tree| %>
  <div class="row post-tree">
    <div class="col-4 tree-image">
        <%= attachment_image_tag(tree, :image, :fill, 150, 150) %><br>
        <%= tree.updated_at.strftime("%Y/%m/%d") %>
        <div class="tree-btn">
          <% if tree.user_id == current_user.id %>
            <%= link_to "削除",plant_tree_path(tree.plant, tree),method: :delete, data: {confirm: "本当に削除してもよろしいですか？"},class: "btn btn-outline-danger" %>
            <%= link_to "編集",edit_plant_tree_path(tree.plant, tree),class: "btn btn-info" %>
          <% end %>
        </div>
    </div>
    <div class="col-7">
      <div class="tree-text">
        <span class="tree-title"><%= tree.title %></span>
        <% if tree.ask_for_help == true %>
          <span class="help-icon">Help!</span>
        <% end %>
        <div class="row tree-body">
          <%= tree.body %>
        </div>
      </div>
    </div>
  </div>
<% end %>