<div class="row post-tree justify-content-center">
  <div class="sub-title col-11 title">
    <h1>日記編集</h1>
  </div>
  <%= form_for(@tree, url:plant_tree_path(plant_id: params[:plant_id], id: params[:id])) do |f| %>
    <div class="row  edit-tree">
      <div class="img-prv col-4">
        <%= image_tag "no_image.jpg",size:'200x200',id: "img_prev" %>
        <%= f.attachment_field :image, id: "post_img" %>
        <%= javascript_include_tag 'img-prev' %>
      </div>
      <div class="col-8 tree-text">
        <div class="row tree-title-form">
          <div class="col-2"><%= f.label :title,"タイトル" %></div>
          <%= f.text_field :title, class: "tree_title" %>
        </div>
        <div class="row tree-body-form">
          <div class="col-2"><%= f.label :body,"本文" %></div>
          <%= f.text_area :body, class: "tree_body" %>
        </div>
        <div class="row form-check">
          <%= f.check_box :ask_for_help, {} , true, false %>
          <%= f.label :ask_for_help, "Help" %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= f.submit "投稿する",class: "btn btn-info col-3" %>
    </div>
  <% end %>
</div>