<h1>日記編集</h1>
<div>
  <%= form_for(@tree, url:plant_tree_path(plant_id: params[:plant_id], id: params[:id])) do |f| %>
    <div>
	  <%= f.attachment_field :image %>
    </div>
    <div>
      <%= f.label :title,"タイトル" %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body,"本文" %>
      <%= f.text_field :body %>
    </div>
      <%= f.submit "投稿する" %>
  <% end %>
</div>