<% plants.each do |plant| %>
  <%= link_to plant_path(plant) do %>
  <div>
  	<div>
      <%= attachment_image_tag(plant, :image, :fill, 200, 200) %>
    </div>
    <div>
      <%= plant.name %>
      <%= plant.body %>
    <div>
    <div class="follow-user-star-<%= plant.id %>"></div>
      <script>
        $(".follow-user-star-<%= plant.id %>").raty({
          size  :36,
          starOff: "<%= asset_path('star-off.png') %>",
          starOn : "<%= asset_path('star-on.png') %>",
          readOnly: true,
          score: <%= plant.difficulty %>,
         });
      </script>
  </div>
  <% end %>
<% end %>