<div class="col-12 plant-list">
  <% plants.each do |plant| %>
    <%= link_to plant_path(plant) do %>
      <div class="plant-item row">
      	<div class="col-4">
          <%= attachment_image_tag(plant, :image, :fill, 200, 200) %><br>
          <%= plant.updated_at.strftime("%Y/%m/%d") %>
        </div>
          <div class="col-2 post-user">
            <%= link_to user_path(plant) do %>
              <div class="post-user-link">
                <%= image_tag attachment_url(plant.user, :image, :fill, 80, 80, fallback: "no_image.jpg"), size:'80x80' %><br>
                <%= plant.user.name %>
              </div>
            <% end %>
          </div>
        <div class="col-6">
          <div class="plant-text">
            <span id="plant-name"><%= plant.name %></span><br>
            <span class="plant-body"><%= plant.body %></span><br>
          </div>
          <div class="plant-icon">
            <span class="fas fa-heart">
              <%= plant.likes.count %>
            </span>
            <span class="far fa-comment-dots">
              <%= plant.comments.count %>
            </span>
            <span class="fas fa-pen-fancy">
              <%= plant.trees.count %>
            </span>
          </div>
          <span id="star-<%= plant.id %>"></span>
        </div>
          <script>
            $("#star-<%= plant.id %>").raty({
              size  :36,
              starOff: "<%= asset_path('star-off.png') %>",
              starOn : "<%= asset_path('star-on.png') %>",
              readOnly: true,
              score: <%= plant.difficulty %>,
             });
          </script>
        </div>
    <% end %>
  <% end %>
</div>