<h1><%= @plant.name %></h1>
<div>
  <%= attachment_image_tag(@plant, :image, :fill, 300, 300) %>
</div>
<div>
  <span>分類・学名：<%= @plant.plante %></span>
  <span>難易度：<%= @plant.difficulty %></span>
  <span>カテゴリ：<%= @plant.category.name %></span>
  <span>タグ：
    <% @plant_tags.each do |plant| %>
      <%= plant.tag_name %>
    <% end %>
  </span>
  <span>ユーザー名：<%= @plant.user.name %></span>
  <% if @plant.like_by?(current_user) %>
    <%= link_to plant_like_path(@plant),class: "fas fa-heart", method: :delete do %>
      <%= @plant.likes.count %>
    <% end %>
  <% else %>
    <%= link_to plant_like_path(@plant),class: "far fa-heart", method: :post do %>
      <%= @plant.likes.count %>
    <% end %>
  <% end %>
</div>
<div>
  <span>本文</span>
  <%= @plant.body %>
</div>
<div>
  <%= @plant.updated_at %>
  <%= link_to "編集する", edit_plant_path(@plant),class: "btn" %>
<!-- 日記表示 -->
<div>
 <%= render "trees/post_tree",plant: @plant %>
</div>

<!-- 日記投稿 -->
<div>
  <h3>日記投稿</h3>
  <% if @plant.user_id == current_user.id %>
    <%= render "trees/new_tree", plant: @plant, tree: @tree %>
  <% end %>
</div>
<!-- コメント表示 -->
<div>
  <h3>コメント一覧</h3>
  <%= render "comments/post_comment",plant: @plant  %>
</div>
<!-- コメント投稿 -->
<div>
  <h3>コメント投稿</h3>
  <%= render "comments/new_comment",plant: @plant, comment: @comment  %>
</div>