<h1><%= @plant.name %></h1>
<div>
  <%= attachment_image_tag(@plant, :image, :fill, 300, 300) %>
</div>
<div>
  分類・学名：<%= @plant.plante %><br>
  難易度：<div class="star"></div>
  <script>
    $(".star").raty({
      score: 1,
      size  :36,
      starOff: "<%= asset_path('star-off.png') %>",
      starOn : "<%= asset_path('star-on.png') %>",
      readOnly: true,
      score: <%= @plant.difficulty %>,
     });
  </script>
  カテゴリ：<%= @plant.category.name %><br>
  タグ：
    <% @plant_tags.each do |plant| %>
      <%= link_to tags_path(tag_id: plant.id) do %>
        <%= plant.tag_name %>
      <% end %>
    <% end %><br>
  ユーザー名：<%= @plant.user.name %><br>
</div>
<div>
  <span>本文</span>
  <%= @plant.body %>
</div>
<div>
  <%= @plant.updated_at %>
  <div class="like-btn">
    <% if @plant.user_id == current_user.id %>
      <%= link_to "編集する", edit_plant_path(@plant),class: "btn" %>
      <%= link_to "削除する", plant_path(@plant), method: :delete %>
    <% else %>
      <%= render "likes/like_btn",plant: @plant %>
    <% end %>
  </div>
<div>
  <h3>日記</h3>
  <div class="post_tree">
    <%= render "trees/post_tree",plant: @plant %>
  </div>
</div>

<!-- 日記投稿 -->
<div class="tree_error_msg"></div>
<div>
  <% if @plant.user_id == current_user.id %>
    <%= render "trees/new_tree", plant: @plant, tree: @tree %>
  <% end %>
</div>

<div>
  <h3>コメント一覧</h3>
  <div class="post_comment">
    <%= render "comments/post_comment",plant: @plant  %>
  </div>
</div>

<div>
  <h3>コメント投稿</h3>
  <div class="comment_error_msg"></div>
    <%= render "comments/new_comment",plant: @plant, comment: @comment  %>
</div>