<h1><%= @plant.name %></h1>
<div>
  <%= attachment_image_tag(@plant, :image, :fill, 300, 300) %>
</div>
<div>
  分類・学名：<%= @plant.plante %><br>
  難易度：<%= @plant.difficulty %><br>
  カテゴリ：<%= @plant.category.name %><br>
  タグ：
    <% @plant_tags.each do |plant| %>
      <%= link_to tags_path(tag_id: plant.id) do %>
        <%= plant.tag_name %>
      <% end %>
    <% end %><br>
  ユーザー名：<%= @plant.user.name %><br>
  <div class="like-btn">
    <%= render "likes/like_btn",plant: @plant %>
  </div>
</div>
<div>
  <span>本文</span>
  <%= @plant.body %>
</div>
<div>
  <%= @plant.updated_at %>
  <%= link_to "編集する", edit_plant_path(@plant),class: "btn" %>

<div>
  <h3>日記</h3>
  <%= render "trees/post_tree",plant: @plant %>
</div>


<div>
  <h3>日記投稿</h3>
  <% if @plant.user_id == current_user.id %>
    <%= render "trees/new_tree", plant: @plant, tree: @tree %>
  <% end %>
</div>

<div>
  <h3>コメント一覧</h3>
  <%= render "comments/post_comment",plant: @plant  %>
</div>

<div>
  <h3>コメント投稿</h3>
  <%= render "comments/new_comment",plant: @plant, comment: @comment  %>
</div>