<h1><%= @category.name %></h1>

<% @plants.each do |plant| %>
  <div>
  	<%= link_to plant_path(plant) do %>
  	  <%= attachment_image_tag(plant, :image, :fill, 200, 200) %>
  	  <%= plant.name %>
  	  <%= plant.body %>
  	<% end %>
  </div>
<% end %>