<h1><%= @category.name %></h1>

<div>
    <%= render "plants/post_plants", plants: @plants %>
</div>
<!-- サイドバー -->
<div>
  <div>
    <h3><%= @category_1.name %></h3>
    <%= render "categories/sideber", plants: @plant_1 %>
  </div>

  <div>
    <h3><%= @category_2.name %></h3>
      <%= render "categories/sideber", plants: @plant_2 %>
  </div>
</div>