<ul>
  <li><%= link_to "マイページ",user_path(current_user) %></li>
  <li><%= link_to "新規投稿", new_plant_path %></li>
  <li><%= link_to "初心者おすすめ", categories_path(category_id: 1) %></li>
  <li><%= link_to "慣れてきた人おすすめ",categories_path(category_id: 2) %></li>
  <li><%= link_to "上級者おすすめ",categories_path(category_id: 3) %></li>
  <li><%= link_to "Help！",help_path %></li>
  <li><%= link_to "ログアウト",destroy_user_session_path,method: :delete %></li>
</ul>